.thumbnail {
  min-width: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.banner {
  width: 100%;
}

.itemcontainer {
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: #eee;
}

.itemcontainer:hover {
  background-color: #ddd;
}

.category {
  width: 45%;
}

.MuiPagination-ul {
  justify-content: center;
}

@media (max-width: 600px) {
  .category {
    width: 90%;
  }
}